body {
    background: #fbfbfb;
    color: #242424;
    font: 15px/20px Consolas, Monaco, monospace;
    margin: 0;
}

p { margin: 0 0 10px; }

#b_page {
    margin: 25px auto;
    max-width: 48em;
}
